
<div class="intro">
<p>
{{description}}
</p>
</div>

<div class="example">
    <div id="field-container"></div>

<script>
{{>firstexample-code}}
</script>

</div>

<h2>HTML</h2>

```
<div id="field-container"></div>
```

<h2>JavaScript</h2>


<h3>Implementation</h3>

```
{{>firstexample-code}}
```
