<html>
<head>
  <title><%= moduleName %> tests</title>

<script type="text/javascript" src="http://yui.yahooapis.com/3.2.0/build/yui/yui-min.js"></script>
<script type="text/javascript" src="../../../build/<%= projectName %>-loader/<%= projectName %>-loader.js"></script>

</head>

<body>

<script>
// Create new YUI instance, and populate it with the required modules
YUI().use("<%= moduleName %>", function(Y) {

  var c = new Y.<%= moduleName %>();

  // edit me...
  
});
</script>

</body>
</html>