<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title><%= moduleName %> tests</title>
    <script type="text/javascript" src="http://yui.yahooapis.com/3.3.0/build/yui/yui-min.js"></script>
    <% if (projectName) { %>
    <script type="text/javascript" src="../../../build/<%= projectName %>-loader/<%= projectName %>-loader.js"></script>
    <% } %>
</head>
<body class="yui3-skin-sam">
<h1><%= moduleName %> Tests</h1>
<script type="text/javascript">

YUI().use("test", "console", "<%= moduleName %>", function(Y) {
  
    window.Y = Y; // keep this for the yui selenium driver

    var c = new Y.Console().render();

    var testCase = new Y.Test.Case({
        name: "<%= moduleName %> tests",

        test_dates: function() {
          
            var o = new Y.<%= moduleName %>();
            
            Y.Assert.areEqual( true, o.someFunc() );

        }
    });
    
    Y.Test.Runner.add(testCase);
    Y.Test.Runner.run();
});
</script>
</body>
</html>