<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title><%= moduleName %> tests</title>
    <script src="http://yui.yahooapis.com/3.7.3/build/yui/yui.js"></script>
    <% if (projectName) { %>
    <script src="../../../build/<%= projectName %>-loader/<%= projectName %>-loader.js"></script>
    <% } else { %>
    <script src="../../../build/<%= moduleName %>/<%= moduleName %>-debug.js"></script>
    <% } %>
</head>
<body class="yui3-skin-sam">
<h1><%= moduleName %> Tests</h1>
<div id="testLogger"></div>
<script>

YUI().use("test", "test-console", "<%= moduleName %>", function(Y) {
  
    window.Y = Y; // keep this for the yui selenium driver

   //create the console
   (new Y.Test.Console({
      newestOnTop : false,
      filters: {
         pass: true,
         fail: true
      }
   })).render('#testLogger');

    var testCase = new Y.Test.Case({
        name: "<%= moduleName %> tests",

        test_dates: function() {
          
            var o = new Y.<%= moduleName %>();
            
            Y.Assert.areEqual( true, o.someFunc() );

        }
    });
    
    Y.Test.Runner.add(testCase);
    Y.Test.Runner.run();
});
</script>
</body>
</html>